conquerField/obj/
conquerField/Library/
conquerField/Assets/Plugins/*
conquerField/Assets/Plugins.meta
conquerField/UserSettings/
conquerField/Temp/
conquerField/Logs/
conquerField/Builds/
conquerField/Assets/Mirror/
conquerField/Assets/Mirror.meta
conquerField/*.sln
conquerField/*.csproj
conquerField/Assets/ScriptTemplates
conquerField/Assets/ScriptTemplates.meta


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
